// root styles here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  //damo style
  body {
    background-image: url("../images/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
}

// Theme references have been imported here
@import "theme";

// Custom Bootstrap styles have been imported here
@import "custom";

// All components have been imported here
@import "components/animations";
@import "components/buttons";
@import "components/mixins";
@import "components/typography";

// media queries have been imported here
@import "about/breakpoints/medium";
@import "about/breakpoints/large";

// All sections have been imported here
@import "about/sections/1navbar";
